# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_component.rtos_apps.async
    bool "Asynchronous processing component"
    default n

    if MCUX_COMPONENT_component.rtos-apps.async
    endif
