config MCUX_COMPONENT_component.rtos_apps.tsn
    bool "TSN Endpoint component"
    default n
    select MCUX_COMPONENT_component.rtos_apps.async
    select MCUX_COMPONENT_component.rtos_apps.log
    select MCUX_COMPONENT_component.rtos_apps.stats

    if MCUX_COMPONENT_component.rtos_apps.tsn

        config MCUX_COMPONENT_component.rtos_apps.tsn.lwip
            bool "Use IP stack"
            default n
            select MCUX_COMPONENT_middleware.lwip
            select MCUX_COMPONENT_middleware.lwip.sys_arch.dynamic
            select MCUX_COMPONENT_middleware.lwip.apps.lwiperf
            select MCUX_COMPONENT_middleware.lwip.empty_ethernetif

        config MCUX_COMPONENT_component.rtos_apps.tsn.motor.controller
            bool "Motor Controller support"
            default n
            select MCUX_COMPONENT_component.rtos_apps.tsn.user_button

        config MCUX_COMPONENT_component.rtos_apps.tsn.motor.iodevice
            bool "Motor IO-Device support"
            default n
            select MCUX_COMPONENT_component.rtos_apps.tsn.user_button

        config MCUX_COMPONENT_component.rtos_apps.tsn.user_button
            bool "User button support"
            default n

        config RTOS_APPS_LWIP
            bool
            default y if MCUX_COMPONENT_component.rtos_apps.tsn.lwip

        config RTOS_APPS_USER_BUTTON
            bool
            default y if MCUX_COMPONENT_component.rtos_apps.tsn.user_button

        config RTOS_APPS_MOTOR_CONTROLLER
            bool
            default y if MCUX_COMPONENT_component.rtos_apps.tsn.motor.controller

        config RTOS_APPS_MOTOR_IO_DEVICE
            bool
            default y if MCUX_COMPONENT_component.rtos_apps.tsn.motor.iodevice
    endif

config MCUX_COMPONENT_component.rtos_apps.tsn_headers
    bool "TSN headers"
    default n
    help
        Minimal necessary headers to be able to compile AVB/TSN applications
